# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv312/
.venv/
venv/

models/*.pkl
models/profiles/

data/*.webm
data/*.wav
data/librispeech
data/librispeech/

frontend/node_modules/
frontend/dist/

.DS_Store
.idea/
.vscode/

README.md